.profile {
  display: grid;
  grid-template-columns: min-content 1fr min-content;
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas:
    "avatar edit btn-add"
    "avatar subtitle btn-add";
  padding-top: 40px;
  width: 100%;
  max-width: 880px;
}

@media screen and (max-width: 700px) {
  .profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 282px;
    margin: 0 auto;
  }
}
