.header__logo {
  width: 142px;
  height: 33px;
  transition: opacity 0.4s linear;
}

.header__logo:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (max-width: 700px) {
  .header__logo {
    width: 104px;
    height: 24px;
    padding-left: 27px;
  }
}
