.button_type_submit {
  width: 100%;
  color: #fff;
  font-size: 18px;
  margin-top: 26px;
  min-height: 50px;
  border-radius: 2px;
  background-color: #000;
}

.button_type_submit:hover {
  opacity: 0.8;
}

@media screen and (max-width: 700px) {
  .button_type_submit {
    font-size: 14px;
    min-height: 46px;
  }
}
