.button_type_close {
  width: 32px;
  height: 32px;
  position: absolute;
  top: -40px;
  right: -40px;
  background-image: url('../../../images/btn-close.svg');
}

.button_type_close:hover {
  opacity: 0.6;
}

@media screen and (max-width: 700px) {
  .button_type_close {
    width: 20px;
    height: 20px;
    top: -36px;
    right: 0;
  }
}
