.infoTooltip__title {
  color: #000;
  font-size: 24px;
  font-weight: 900;
  text-align: center;
  padding-top: 32px;
  margin: 0;
}

@media screen and (max-width: 700px) {
  .infoTooltip__title {
    font-size: 20px;
  }
}
