.profile__avatar-section {
  grid-area: avatar;
  position: relative;
  width: 120px;
  height: 120px;
  margin-right: 30px;
}

@media screen and (max-width: 700px) {
  .profile__avatar-section {
    margin: 0;
  }
}
