.profile__button-edit {
  min-width: 24px;
  height: 24px;
  border: none;
  background-color: rgba(255, 255, 255, 0);
  background-image: url("../../../images/btn-edit.svg");
  background-repeat: no-repeat;
  background-size: contain;
  transition: opacity 0.4s linear;
}

.profile__button-edit:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (max-width: 700px) {
  .profile__button-edit {
    min-width: 18px;
    height: 18px;
    background-image: url("../../../images/btn-edit-mobile.svg");
  }
}
